/*@import url(https://db.onlinewebfonts.com/c/513071b47bdba774c93a73ad16a75e3b?family=DIN+Next+LT+Arabic+Bold);
*/
@font-face {
  font-family: 'DIN'; /* Name your font family */
  src: url('DIN Next LT Arabic Bold.ttf'); /* Locate the .ttf file within your directory*/
}

@font-face {
  font-family: 'Segoe'; /* Name your font family */
  src: url('Segoe UI Symbol.ttf'); /* Locate the .ttf file within your directory*/
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: "Segoe";
	font-weight: 400;
	line-height: 14px;
	
	font-size: 16px;
	background-color: #efe6dd;
	
	/* Font smoothing / Antialiasing */
	-webkit-font-smoothing: antialiased;  /* For Webkit browsers */
	-moz-osx-font-smoothing: grayscale;   /* For macOS */
	font-smooth: always;                  /* General */
	
	padding:10px;
	
	margin: 0px 10% 0px 10%;
	
	a, a:visited {
	  color: #19231a;
	}
}

h1{
	font-family: "DIN";
	font-weight: 800;
	line-height: 24px;
	font-size: 42px;
	color: #19231a;
	
	/* Font smoothing / Antialiasing */
	-webkit-font-smoothing: antialiased;  /* For Webkit browsers */
	-moz-osx-font-smoothing: grayscale;   /* For macOS */
	font-smooth: always;                  /* General */
	
	margin-bottom:25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 5px 0px;
    background-color: #efe6dd;
    color: white;
    margin-bottom:10px;
}

.logo img {
    height: 40px; /* Adjust the height of your logo */
    margin-left: 40px;
}

.links {
    flex-grow: 1;
    text-align: center;
    color: #19231a;
}

.links a {
    margin: 0 10px;
    color: #19231a;
    font-size: 16px;
    text-decoration: none;
}

.actions {
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-size: 16px;
}

.actions a {
    margin-left: 20px;
    padding-right: 15px;
    color: #19231a;
    text-decoration: none;
}

/* Stili per la griglia dei prodotti */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Spaziatura tra i prodotti */
    margin: 20px 0px 20px 0px;
}



.product-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 0 1 calc(25% - 16px); /* 4 prodotti per riga */
    max-width: calc(25%); /* 4 prodotti per riga */
    text-align: center;
    padding: 10px;
    transition: transform 0.2s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}



.product-item:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.product-image img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.product-name {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin:5px;
    padding:0px;
}

.product-price {
	color: #3c7a89;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.product-grid-catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
    margin: 20px 0px 20px 0px;
}

.product-item-catalogo {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 0 1 calc(18% - 16px); 
    max-width: 15%; 
    text-align: center;
    padding: 10px;
    transition: transform 0.2s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}

/* Container per i dettagli del prodotto */
.product-details-container {
	display: flex;
	flex-direction: row;
	gap: 20px; /* Spazio tra immagine e informazioni */
}

/* Stile per l'immagine grande del prodotto */
.product-details-image img {
	background-color:white;
	width: 100%;
	max-width: 50vw; /* Massima larghezza: metà schermo */
	height: auto;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Stili per le informazioni del prodotto */
.product-details-info {
	flex: 1; /* Prende tutto lo spazio rimanente */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Nome del prodotto */
.product-details-name {
	font-family: "DIN";
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #19231a;
}

/* Prezzo del prodotto */
.product-details-price {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #3c7a89;
}

/* Descrizione del prodotto */
.product-details-description {
	font-size: 16px;
	margin-bottom: 20px;
	color: #19231a;
}

/* Pulsante per aggiungere al carrello */
.product-details-add-to-cart-button {
	font-family: "Segoe";
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background-color: #3c7a89;
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.product-details-add-to-cart-button:hover {
	background-color: #2f5f6b;
}

#menu-user {
  position: relative; /* Aggiungi questa riga */
}

#dropdown-user {
	background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: none;
	position:absolute;
 	z-index:1000;
	margin: 0;
	left: 50%;
	transform: translateX(-50%);
}

#dropdown-user ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#dropdown-user li{
  	margin: 0;
 	padding: 0;
  	text-align: left;
}

#dropdown-user li a {
	margin: 0;
  	padding: 5px 10px 5px 10px;
  	display: block;
}

#dropdown-user li:hover {
  background-color: #3c7a89;
}

#dropdown-user li:hover a {
  color: #ffffff;	
}
#menu-user:hover #dropdown-user {
  	display: block;
}

.admin-product-list{
	margin-top:20px;
}

.admin-product-list table{
	width: 100%;
	border-collapse: collapse;
	tr:nth-child(even) {background-color: #e3d5c8;}
	tr:hover {background-color: coral;}
}

.admin-product-list th{
	height: 20px;
	padding:5px
}

.admin-product-list td{
	font-size:12px;
	padding: 2px;
}

.admin-user-list{
	margin-top:20px;
}

.admin-user-list table{
	width: 100%;
	border-collapse: collapse;
	tr:nth-child(even) {background-color: #e3d5c8;}
	tr:hover {background-color: coral;}

}

.admin-user-list th{
	height: 20px;
	padding:5px
}

.admin-user-list td{
	font-size:12px;
	padding: 2px;
}

.order-list{
	margin-top:20px;
}

.order-list table{
	width: 100%;
	border-collapse: collapse;
		tr:nth-child(even) {background-color: #e3d5c8;}
	tr:hover {background-color: coral;}

}

.order-list th{
	height: 20px;
	padding:5px
}

.order-list td{
	font-size:12px;
	padding: 2px;
}

.order-details{
	margin-top:20px;
}

.order-details table{
	width: 30%;
	border-collapse: collapse;
}

.order-details th{
	height: 20px;
	padding:5px
}

.order-details td{
	font-size:12px;
	padding: 2px;
}
