/*@import url(https://db.onlinewebfonts.com/c/513071b47bdba774c93a73ad16a75e3b?family=DIN+Next+LT+Arabic+Bold);
*/
@font-face {
  font-family: 'DIN'; /* Name your font family */
  src: url('DIN Next LT Arabic Bold.ttf'); /* Locate the .ttf file within your directory*/
}

@font-face {
  font-family: 'Segoe'; /* Name your font family */
  src: url('Segoe UI Symbol.ttf'); /* Locate the .ttf file within your directory*/
}

body{
	font-family: "Segoe";
	font-weight: 400;
	line-height: 14px;
	
	font-size: 16px;
	background-color: #efe6dd;
	
	/* Font smoothing / Antialiasing */
	-webkit-font-smoothing: antialiased;  /* For Webkit browsers */
	-moz-osx-font-smoothing: grayscale;   /* For macOS */
	font-smooth: always;                  /* General */
	
	padding:10px;
	
	a, a:visited {
	  color: #19231a;
	}
}

h1{
	font-family: "DIN";
	font-weight: 800;
	line-height: 24px;
	font-size: 42px;
	color: #19231a;
	
	/* Font smoothing / Antialiasing */
	-webkit-font-smoothing: antialiased;  /* For Webkit browsers */
	-moz-osx-font-smoothing: grayscale;   /* For macOS */
	font-smooth: always;                  /* General */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 5px 0px;
    background-color: #efe6dd;
    color: white;
}

.logo img {
    height: 40px; /* Adjust the height of your logo */
    margin-left: 40px;
}

.links {
    flex-grow: 1;
    text-align: center;
    color: #19231a;
}

.links a {
    margin: 0 10px;
    color: #19231a;
    font-size: 16px;
    text-decoration: none;
}

.actions {
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-size: 16px;
}

.actions a {
    margin-left: 20px;
    
    color: #19231a;
    text-decoration: none;
}

#banner {
	background-image: url("../images/banner.png");
	background-size: cover;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-position: center;
   	height: 300px;
   	width: calc(100% - 20px);
   	resize: both;
   	margin: 10px;
   	position: relative;
   	border-radius: 12px;
}

#banner-info{
	width:150px;
	height:100px;
	background-color: #efe6dd;
	position: absolute;
	right: 30px;
	top: 80px;
	border-radius: 12px;
	margin: 0 10px;
    color: #19231a;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    padding-top:30px;
    font-size: 30px;
   
}

#banner-info a{
	font-family: "DIN";
    font-size: 30px;
}

#banner-button {
    width: 150px;
    height: 50px;
    background-color: #3c7a89;
    position: absolute;
    bottom: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}

#banner-button a {
    color: white;
    text-decoration: none;
    font-family: "Segoe";
    font-size: 16px;
}

